.wrap {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    label {
        font-size: 1.8rem;
    }
    .select {
        height: 3.7rem;
        line-height: 4rem;
        font-size: 1.6rem;
        padding: 0 1.5rem;
        font-family: inherit;
        border: none;
        border-radius: 999px;
        background-color: transparent;
        box-shadow: 2px 2px 5px #b3b3b3, -2px -2px 3px #fff;
        cursor: pointer;
        color: var(--text-secondary);
        font-weight: 500;
        -webkit-appearance: none;
        -moz-appearance: none;
        &:focus {
            outline: none;
        }
        &::-ms-expand {
            display: none;
        }
        option {
            color: var(--primary);
        }
    }
    .arrow {
        position: absolute;
        top: 55%;
        font-size: 2rem;
        right: 1.5rem;
        transform: translateY(-50%);
        color: var(--text-secondary);
    }
}
