.input {
    label {
        font-size: 1.8rem;
    }
    .input-wrap {
        border: 1px solid #ccc;
        margin-top: 0.6rem;
        input {
            height: 3.5rem;
            line-height: 4rem;
            font-size: 1.6rem;
            width: 100%;
            padding: 0 10px;
            font-family: inherit;
            border: none;
            &:focus {
                outline: 1px solid #6c6c6c;
            }
        }
    }
}
